*{
    margin:0;
    padding:0;
}
.App-header{
    background-color: #282c34;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.input-box{
    background-color: #545e70;
    margin:1.5em;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff;
}
.input-box > label{
    padding-right: 20px;
}
.input-box > input, .input-box > textarea{
    opacity: 0.5;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 4px;
    width: 400px;
    float: right;
}

.input-box small{
    font-size: 15px;
    color:maroon;
}

button{
    position: relative;
    width: 100%;
    margin: auto;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 6rem auto;
    margin-top:3rem;
    border-radius: 15px;
    border: none;
    opacity: 0.5;
    box-shadow: 0 0 5px #fff;
    cursor: pointer;
}
form h2{
    opacity: 0.8;
    margin-top: 2rem;
}

@media(max-width:770px){
    body{
        padding: 15px;
        overflow:auto;
    }
    form{
        font-size: 14px;
    }
    .input-box > input, .input-box > textarea{
        font-size: 14px;
        width: 200px;
        margin-top:5px;
        display: block;
        float: none;
    }
    .input-box small{
        font-size: 12px;
        color:maroon;
        display: block;
    }
    .input-box > label{
        padding: none;
    }
}